.product-area{
    text-align: center;

    .product-main{


        
    .product-line{

        margin-bottom: 60px;


        .Product_wrap{
            padding-bottom: 6px;


.product_bottom{
    display: flex;
    justify-content: space-between;


    .product_bottom_left{
    text-align: left;
}

}

        }
    }
}

    .wood-touch{
        p{
            color: $color-light-grey;
            line-height: 1px;
            margin-bottom: 60px;
        }
    }

    .main-heading{
        font-weight: 700;
        color: $color-theme;
    }



}


