
.pos .product .product-rating {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #6EC89B;
    padding: 2px 5px;
    border-radius: 2px;
}